In [1]:
import pandas as pd

In [3]:
df = pd.read_csv ('CTA_-_Ridership_-__L__Station_Entries_-_Daily_Totals.csv')
df.head()

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W  6,104
1       41000  Cermak-Chinatown  12/18/2017       W  3,636
2       40280      Central-Lake  12/02/2017       A  1,270
3       40140   Dempster-Skokie  12/19/2017       W  1,759
4       40690          Dempster  12/03/2017       U    499

In [5]:
df.shape

(1088958, 5)

In [6]:
df.dtypes

station_id      int64
stationname    object
date           object
daytype        object
rides          object
dtype: object

In [7]:
df['stationname'] = df['stationname'].str.replace('/','+')

In [13]:
station_ids = df.station_id.unique()
len(station_ids)

147

In [14]:
file_names = []
for i in station_ids:
    file_name = df.loc[df['station_id'] == i]
    file_names.append(file_name.stationname.unique()[0]+ ".csv")
len(file_names)

147

In [10]:
file_names

['Jefferson Park.csv',
 'Cermak-Chinatown.csv',
 'Central-Lake.csv',
 'Dempster-Skokie.csv',
 'Dempster.csv',
 'Lake+State.csv',
 'Oak Park-Forest Park.csv',
 'Kedzie-Homan-Forest Park.csv',
 '35th+Archer.csv',
 'Addison-North Main.csv',
 'Main.csv',
 'Chicago+State.csv',
 'Wellington.csv',
 'Austin-Forest Park.csv',
 'Clinton-Lake.csv',
 'East 63rd-Cottage Grove.csv',
 'Grand+State.csv',
 'Wilson.csv',
 'Cicero-Cermak.csv',
 'State+Lake.csv',
 '51st.csv',
 '95th+Dan Ryan.csv',
 'Jackson+State.csv',
 'Randolph+Wabash.csv',
 'Logan Square.csv',
 'Morse.csv',
 'Grand+Milwaukee.csv',
 '69th.csv',
 'Paulina.csv',
 'Damen-Brown.csv',
 'Washington+Dearborn.csv',
 'Kimball.csv',
 'Clark+Lake.csv',
 'Lawrence.csv',
 'Polk.csv',
 '47th-Dan Ryan.csv',
 'Sedgwick.csv',
 '54th+Cermak.csv',
 'Ashland+63rd.csv',
 'Morgan-Lake.csv',
 'Harrison.csv',
 'Sheridan.csv',
 'Racine.csv',
 'Washington+Wells.csv',
 'Quincy+Wells.csv',
 'Foster.csv',
 'California+Milwaukee.csv',
 'Cermak-McCormick Place.csv',
 'Sox-35th-Dan Ryan.csv',
 'Chicago+Milwaukee.csv',
 "O'Hare Airport.csv",
 'Kedzie-Lake.csv',
 'Fullerton.csv',
 'Irving Park-Brown.csv',
 'LaSalle+Van Buren.csv',
 'Belmont-North Main.csv',
 '79th.csv',
 'Adams+Wabash.csv',
 'Western-Orange.csv',
 'Clinton-Forest Park.csv',
 'UIC-Halsted.csv',
 '35-Bronzeville-IIT.csv',
 '87th.csv',
 '18th.csv',
 'Indiana.csv',
 'Monroe+State.csv',
 "Irving Park-O'Hare.csv",
 'Cumberland.csv',
 'Roosevelt.csv',
 'Damen+Milwaukee.csv',
 'Kedzie-Midway.csv',
 '63rd-Dan Ryan.csv',
 'Kedzie-Cermak.csv',
 'Addison-Brown.csv',
 'Division+Milwaukee.csv',
 'Damen-Cermak.csv',
 'Cicero-Lake.csv',
 'Madison+Wabash.csv',
 'Harlem-Lake.csv',
 'Pulaski-Cermak.csv',
 'Kedzie-Brown.csv',
 'Central Park.csv',
 "Harlem-O'Hare.csv",
 'Chicago+Franklin.csv',
 'North+Clybourn.csv',
 'Berwyn.csv',
 'Laramie.csv',
 'Howard.csv',
 'Granville.csv',
 'Western-Forest Park.csv',
 'California-Cermak.csv',
 'Ridgeland.csv',
 'Western-Cermak.csv',
 'Halsted+63rd.csv',
 'Pulaski-Forest Park.csv',
 'Montrose-Brown.csv',
 'Linden.csv',
 'Pulaski-Lake.csv',
 'Harlem-Forest Park.csv',
 'Ashland-Orange.csv',
 'Garfield-Dan Ryan.csv',
 'Halsted-Orange.csv',
 "Addison-O'Hare.csv",
 'Pulaski-Orange.csv',
 'Noyes.csv',
 '47th-South Elevated.csv',
 'Merchandise Mart.csv',
 'Midway Airport.csv',
 '43rd.csv',
 'Western+Milwaukee.csv',
 'Ashland-Lake.csv',
 "Belmont-O'Hare.csv",
 'Oak Park-Lake.csv',
 'Conservatory.csv',
 'Library.csv',
 'Loyola.csv',
 'Southport.csv',
 "Montrose-O'Hare.csv",
 'Jarvis.csv',
 'South Boulevard.csv',
 'Cicero-Forest Park.csv',
 'Medical Center.csv',
 'Davis.csv',
 'Clark+Division.csv',
 'Jackson+Dearborn.csv',
 'Washington+Wabash.csv',
 'Francisco.csv',
 'Central-Evanston.csv',
 'Oakton-Skokie.csv',
 'Austin-Lake.csv',
 'Bryn Mawr.csv',
 'Kostner.csv',
 'Forest Park.csv',
 'California-Lake.csv',
 'Garfield-South Elevated.csv',
 'Rockwell.csv',
 'Diversey.csv',
 'Argyle.csv',
 'LaSalle.csv',
 'Monroe+Dearborn.csv',
 'Rosemont.csv',
 'King Drive.csv',
 'Armitage.csv',
 'Thorndale.csv',
 'Western-Brown.csv',
 'Washington+State.csv',
 'Homan.csv']

In [11]:
for i in range(len(station_ids)):
    df_subset = df.loc[(df['station_id'] == station_ids[i])]
    df_subset.to_csv(file_names[i], sep=",")