In [1]:
import pandas as pd

In [2]:
df = pd.read_csv ('CTA_-_Ridership_-__L__Station_Entries_-_Daily_Totals.csv')
df.head()

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W  6,104
1       41000  Cermak-Chinatown  12/18/2017       W  3,636
2       40280      Central-Lake  12/02/2017       A  1,270
3       40140   Dempster-Skokie  12/19/2017       W  1,759
4       40690          Dempster  12/03/2017       U    499

In [3]:
df.shape

(1088958, 5)

In [4]:
df.dtypes

station_id      int64
stationname    object
date           object
daytype        object
rides          object
dtype: object

In [7]:
#df['stationname'] = df['stationname'].str.replace('/','+')

In [5]:
station_ids = df.station_id.unique()
len(station_ids) #147 unique stations

147

In [11]:
file_names = []
for i in station_ids:
    file_names.append(str(i) + ".csv")
    # file_names.append(file_name.stationname.unique()[0]+ ".csv")
len(file_names)

147

In [12]:
file_names

['41280.csv',
 '41000.csv',
 '40280.csv',
 '40140.csv',
 '40690.csv',
 '41660.csv',
 '40180.csv',
 '40250.csv',
 '40120.csv',
 '41420.csv',
 '40270.csv',
 '41450.csv',
 '41210.csv',
 '40010.csv',
 '41160.csv',
 '40720.csv',
 '40330.csv',
 '40540.csv',
 '40420.csv',
 '40260.csv',
 '40130.csv',
 '40450.csv',
 '40560.csv',
 '40200.csv',
 '41020.csv',
 '40100.csv',
 '40490.csv',
 '40990.csv',
 '41310.csv',
 '40090.csv',
 '40370.csv',
 '41290.csv',
 '40380.csv',
 '40770.csv',
 '41030.csv',
 '41230.csv',
 '40800.csv',
 '40580.csv',
 '40290.csv',
 '41510.csv',
 '41490.csv',
 '40080.csv',
 '40470.csv',
 '40730.csv',
 '40040.csv',
 '40520.csv',
 '40570.csv',
 '41690.csv',
 '40190.csv',
 '41410.csv',
 '40890.csv',
 '41070.csv',
 '41220.csv',
 '41460.csv',
 '40160.csv',
 '41320.csv',
 '40240.csv',
 '40680.csv',
 '40310.csv',
 '40430.csv',
 '40350.csv',
 '41120.csv',
 '41430.csv',
 '40830.csv',
 '40300.csv',
 '41090.csv',
 '40550.csv',
 '40230.csv',
 '41400.csv',
 '40590.csv',
 '41150.csv',
 '40910.csv',
 '41040.csv',
 '41440.csv',
 '40320.csv',
 '40210.csv',
 '40480.csv',
 '40640.csv',
 '40020.csv',
 '40150.csv',
 '41180.csv',
 '40780.csv',
 '40750.csv',
 '40710.csv',
 '40650.csv',
 '40340.csv',
 '40700.csv',
 '40900.csv',
 '40760.csv',
 '40220.csv',
 '40440.csv',
 '40610.csv',
 '40740.csv',
 '40940.csv',
 '40920.csv',
 '41500.csv',
 '41050.csv',
 '40030.csv',
 '40980.csv',
 '41060.csv',
 '41170.csv',
 '41130.csv',
 '41240.csv',
 '40960.csv',
 '40400.csv',
 '41080.csv',
 '40460.csv',
 '40930.csv',
 '41270.csv',
 '40670.csv',
 '40170.csv',
 '40060.csv',
 '41350.csv',
 '41670.csv',
 '40850.csv',
 '41300.csv',
 '40360.csv',
 '41330.csv',
 '41190.csv',
 '40840.csv',
 '40970.csv',
 '40810.csv',
 '40050.csv',
 '40630.csv',
 '40070.csv',
 '41700.csv',
 '40870.csv',
 '41250.csv',
 '41680.csv',
 '41260.csv',
 '41380.csv',
 '40600.csv',
 '40390.csv',
 '41360.csv',
 '40510.csv',
 '41010.csv',
 '40530.csv',
 '41200.csv',
 '41340.csv',
 '40790.csv',
 '40820.csv',
 '41140.csv',
 '40660.csv',
 '40880.csv',
 '41480.csv',
 '40500.csv',
 '41580.csv']

In [13]:
for i in range(len(station_ids)):
    df_subset = df.loc[(df['station_id'] == station_ids[i])]
    df_subset.to_csv(file_names[i], sep=",")